version: '3.4'

services:
  mongo:
     container_name: mongo
     restart: always
     volumes:
        - ${WEBAPP_STORAGE_HOME}/site:/data/db
     ports:
        - "27017:27017"
  basketdb:
     container_name: basketdb
     restart: always
     ports:
        - "6379:6379"


  catalog.api:
        container_name: catalogapi
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - "CatalogDatabaseSettings:ConnectionString=mongodb://catalogdb:27017"
        depends_on:
            - mongo
        volumes:
            - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
            - ${HOME}/root/.aspnet/https/
        ports:
            - "8000:80"
  basket.api:
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - "ConnectionStrings:Redis=basketdb:6379"
        depends_on:
            - basketdb
        volumes:
            - ${HOME}/.microsoft/usersecrets/:/root/.microsoft/usersecrets
            - ${HOME}/root/.aspnet/https/
        ports:
            - "8001:80"


